NEXT_PUBLIC_VICTORIA_PMTILES_URL=
NEXT_PUBLIC_NSW_PMTILES_URL=
NEXT_PUBLIC_QUEENSLAND_PMTILES_URL=
NEXT_PUBLIC_WA_PMTILES_URL=
NEXT_PUBLIC_SA_PMTILES_URL=
NEXT_PUBLIC_ACT_PMTILES_URL=
NEXT_PUBLIC_TASMANIA_PMTILES_URL=
NEXT_PUBLIC_NT_PMTILES_URL=
NEXT_PUBLIC_MAPBOX_TOKEN=
LTS_BROUTER_URL=https://valhalla.vicbug.app/lts-brouter
LTS_BROUTER_WA_URL=https://valhalla.vicbug.app/lts-brouter-wa
LTS_BROUTER_SA_URL=https://valhalla.vicbug.app/lts-brouter-sa
LTS_BROUTER_ACT_URL=https://valhalla.vicbug.app/lts-brouter-act
LTS_BROUTER_TAS_URL=https://valhalla.vicbug.app/lts-brouter-tas
LTS_BROUTER_NT_URL=https://valhalla.vicbug.app/lts-brouter-nt
BROUTER_COMPARISON_URL=https://valhalla.vicbug.app/brouter
LTS_ROUTER_CLASSIFIER_VERSION=au-lts-v0.5-trail-suitability
